@model StoreSurvey.Shop

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".well").hide();
    });
</script>
<div class="span9">
    
    <fieldset>
        <legend>Shop</legend>
        <table class="table table-striped">
            <tr>
                <td>
                    <div class="display-label">SLNO</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.SLNO)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Region</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Region)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Territory</div></td>
                
                <td><div class="display-field">
                        @Html.DisplayFor(model => model.Territory)
                    </div>
                </td>
            </tr>
            
            <tr>
                <td>
                    <div class="display-label">Town</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Town)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">ShopName</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ShopName)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">ShopAddress</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ShopAddress)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">ShopType</div>
                </td>
                <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ShopType)
                </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">SLAB</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.SLAB)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Phon</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Phon)
                    </div>
                    </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">DMS_CODE</div></td>
                    <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.DMS_CODE)
                    </div>
                    </td>
            </tr>
        </table>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }, new {@class="btn btn-primary", @style="text-decoration: none;color:white"}) 
    
        <a href="/Shop/Index" class="btn btn-info" style="text-decoration: none;color: white">Back to List</a>
    
    </fieldset>
</div>
<p>

</p>
)
</fieldset>
</div>
<p>

</p>
