@using PagedList.Mvc
@model PagedList.IPagedList<StoreSurvey.Shop>
<script type="text/javascript">
    $(document).ready(function () {
        $(".well").hide();
        });
</script>
@*@using (Html.BeginForm())
{
    <p>
        Find by Region: @Html.TextBox("regionFilter", ViewBag.regionFilter as string)
        
        Find by Territory: @Html.TextBox("territoryFilter", ViewBag.territoryFilter as string)
        <br />
        Find by Town: @Html.TextBox("townFilter", ViewBag.townFilter as string)
        Find by DMS Code: @Html.TextBox("dmsCodeFilter", ViewBag.dmsCodeFilter as string)

        <input type="submit" value="Search" />
        
        </p>
}*@
<table border="0">
<form class="form-horizontal" action="/shop/index?asdf=Submit" method="post">
    <tr>
        <td>
            <label>
                Find By Region</label></td>
        <td>
            <input type="text" class="input-xlarge" name="regionFilter" /></td>
        <td><label class="control-label">
                Find By Town</label></td>
        <td>
            <input type="text" class="input-xlarge" name="townFilter" /></td>
    </tr>
    <tr>
        <td>
            <label class="control-label">
                Find By Territory</label></td>
        <td>
            <input type="text" class="input-xlarge" name="territoryFilter"></td>
        <td>
            <label class="control-label">
                Find by DMS Code</label></td>
        <td>
            <input type="text" class="input-xlarge" name="dmsCodeFilter"> </td>
    </tr>
    <tr><td><button type="submit" class="btn btn-primary">
            Search</button></td>
            </tr>
    
</form>
</table>


<div class="row-fluid span12">
    <table class="table table-striped">
        <tr>
            <th>
                SLNO
            </th>
            <th>
                Region
            </th>
            <th>
                Territory
            </th>
            <th>
                Town
            </th>
            <th>
                ShopName
            </th>
            <th>
                ShopAddress
            </th>
            <th>
                ShopType
            </th>
            <th>
                SLAB
            </th>
            <th>
                Phon
            </th>
            <th>
                DMS_CODE
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SLNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Territory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLAB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DMS_CODE)
                </td>
                <td>
                    <a href="/shop/Edit/@item.Id"><i class="icon-edit" title="Edit"></i></a><a href="/shop/Details/@item.Id">
                        <i class="icon-info-sign" title="Details"></i></a><a href="/shop/Delete/@item.Id"><i
                            class="icon-remove" title="Delete"></i></a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span 12">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @if (Model.HasPreviousPage)
            {
                @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, regionFilter = ViewBag.regionFilter, townFilter = ViewBag.townString, territoryFilter = ViewBag.territory, dmsCodeFilter = ViewBag.dmsCodeFilter })
                @Html.Raw(" ");
                @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, regionFilter = ViewBag.regionFilter, townFilter = ViewBag.townString, territoryFilter = ViewBag.territory, dmsCodeFilter = ViewBag.dmsCodeFilter })
            }
            else
            {
                @:<<
        @Html.Raw(" ");
                @:< Prev
                                        }
            @if (Model.HasNextPage)
            {
                @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, regionFilter = ViewBag.regionFilter, townFilter = ViewBag.townString, territoryFilter = ViewBag.territory, dmsCodeFilter = ViewBag.dmsCodeFilter })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, regionFilter = ViewBag.regionFilter, townFilter = ViewBag.townString, territoryFilter = ViewBag.territory, dmsCodeFilter = ViewBag.dmsCodeFilter })
            }
            else
            {
                @:Next >
        @Html.Raw(" ")
                @:>>
                                        }
        </div>
    </div>
</div>

