@model StoreSurvey.MustHaveSkusBasic

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MustHaveSkusBasic</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.skus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.skus)
            @Html.ValidationMessageFor(model => model.skus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skuCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.skuCode)
            @Html.ValidationMessageFor(model => model.skuCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shopType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("shopType",(SelectList) ViewBag.shopTypesDropDown)
            @Html.ValidationMessageFor(model => model.shopType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
